@import url('/static/variables.css');

body {
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
}

.nav {
    width: 242px;
    background-color: var(--background-primary-orange-2-opacity);
    border: none;
    padding-top: 20px;
    padding-left: 12px;
    border-left: none;
    height: 700px;
    padding-right: 12px;
}

.navItems {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navBranding{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8px;
    gap: 10px;

    font-size: var(--heading-1-font-size);
    font-weight: 700;
    line-height: var(--heading-1-line-height);
    margin: var(--heading-1-margin);
    color: var(--background-primary-orange-1);
}

.navBranding-img {
    width: 28px;
    height: 28px;
    border-radius: 20%;
    object-fit: cover;
}

.navOptions {
    display: flex;
    flex-direction: column;
    height: 272px;
    width: 218px;
    margin-top: 62px;
    height: fit-content;
    gap: 5px;
    padding-top: 0px;
    background-color: var(--background-primary-orange-2-opacity);
}

.navOptions-btn {
    height: 34px;
    width: 218px;
    color: var(--content-primary-black-3);
    background-color: var(--background-primary-orange-2-opacity);
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: medium;
    margin-right: 12px;
    padding-left: 10px;
    border: none; 
    box-shadow: 0px 0px 0px 0px;
    opacity: 1;
}

.navOptions-createMeeting {
    margin-top: 5px;
}

.navOptions-createMeeting-btn {
    height: 36px;
    width: 218px;
    border: 2px solid lightgray;
    display: flex;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--background-primary-orange-1);
    color: var(--content-primary-white-1);
    gap: 10px;
    align-items: center;
    font-size: medium;
    border: none;
    text-align: center;
}

.navOptions-createMeeting-btn svg {
    padding-left: 20px;
}


.navOptions-btn:hover {
    background-color: #efc9c1;
    color: black;
}

.navOptions-btn.selected {
    background-color: #efc9c1;
    color: black;
}

.navUserItems {
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    gap: 3px;
    height: 156px;
    width: 216px;
}

.navUserItems-btn {
    height: 30px;
    width: 95%;
    border: 2px solid lightgray;
    display: flex;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--background-primary-orange-2-opacity);
    text-align: left;
    color: gray;
    gap: 10px;
    align-items: center;
    font-size: medium;
    font-weight: var(--paragraph-1-font-weight);
    margin: var(--paragraph-1-margin);
    border: none;
}

.navUserItems-profile {
    height: 47px;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 0px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--background-primary-orange-2);
    color: black;
    font-size: var(--subheading-4-font-size);
    font-weight: var(--subheading-4-font-weight);
    line-height: var(--subheading-4-line-height);
    margin: var(--subheading-4-margin);
}

.navUserItems-profile-img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
}


.navUserItems-btn:hover {
    background-color: #efc9c1;
    color: black;
}

.navUserItems-btn.selected {
    background-color: #efc9c1;
    color: black;
}
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contentHeader{
    height: 66px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    font-size: x-large;
    font-weight: bold;
    padding: 0px 20px;
    gap: 10px;
    color: rgb(67, 67, 67);
}

.contentHeaderNav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.contentHeaderNav-btn {
    height: 100%;
    width: fit-content;
    border: 1px solid lightgray;
    margin: 0px;
    padding: 2px 0px;
    border-radius: 5px;
    justify-content: center;
    background-color: white;
    display: flex;
    flex-direction: row;
    cursor: pointer;

}

.contentHeaderCitizen {
    height: 30px;
    width: fit-content;
    font-size: medium;
    font-weight: 600;
    border: 1px solid lightgray;
    padding: 5px 5px;
    border-radius: 5px;
    justify-content: space-between;
    display: flex;
    gap: 10px;
    align-items: center;
}

.contentBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    width: 100%;
    padding-left: 20px;
}


.navRight {
    padding: 10px;
    border-left: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.navRightHistory {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 92%;
}

.navRightHistory-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navRightNewChat-btn {
    height: 40px;
    width: 95%;
    border: 2px solid lightgray;
    display: flex;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    text-align: left;
    color: gray;
    gap: 10px;
    align-items: center;
    font-size: medium;
}

.navRightHistory-chats{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.navRightHistory-chats-btn {
    height: 40px;
    width: 95%;
    border: 2px solid #efc9c1;
    display: flex;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    text-align: left;
    color: gray;
    gap: 10px;
    align-items: center;
    font-size: medium;
}

.navRightLogout-btn {
    height: 40px;
    width: 95%;
    border: 2px solid lightgray;
    display: flex;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    text-align: left;
    color: gray;
    gap: 10px;
    align-items: center;
    font-size: medium;
    border: none;
}


.loadingGif {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: fit-content;
    border: none;
    gap: 5px;
}

::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 3px; /* Rounded corners */
}

/* Scrollbar Handle on Hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
}