*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-image: url(wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form{
    background-color: #FFFFFF;
    height: 346px;
    width: 360px;
    border-radius: 16px;
}

.form > form > h2{
    color: #212121;
    font-size: 24px;
    font-weight: 500;
    padding: 0px 12px 20px 20px;
    margin-top: 20px;
    border-bottom: solid 0.5px rgba(0,0,0,0.2);
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
}

.form > form > input{
    padding: 10px;
    height: 38px;
    width: 320px;
    border-radius: 10px;
    border: solid 0.5px #B9B9B9;
    margin: 16px 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.form > form > select {
    padding: 10px;
    height: 38px;
    width: 320px;
    border-radius: 10px;
    border: solid 0.5px #b9b9b9;
    margin: 16px 20px;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
  }

.form >form > label{
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    margin: 16px 20px;
}

.form > form > select > option {
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    margin: 16px 20px;
  }



.form >form > button{
    height: 44px;
    width: 320px;
    color: #FFFFFF;
    font-size: 14px;
    background-color: #F65434;
    border: none;
    outline: 1px solid rgba(151,151,151,0.2);
    border-radius: 10px;
    margin: 16px 0px 16px 20px;
    padding: 11px 130px;
}

.form >form > button:hover{
    cursor: pointer;
}