<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visa Pro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Add_new_user_data.css' ) }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Font1|Font2&display=swap" rel="stylesheet">
</head>
<body>
    <div class="form">
        <form id="new_user_form">
            <h2>Let's get started!! </h2>
            <label for="username" >What's your name?</label><br>
            <input type="text" id="user_name" name="user_name" placeholder="Enter name"><br>
            <label for="country" >Select country</label><br>
            <select id="country" name="country" aria-placeholder="Counrty">
                <option value="" selected>Select Country</option>
                <option value="India">🇮🇳 India</option>
                <option value="United States">🇺🇸 United States</option>
                <option value="United Kingdom">🇬🇧 United Kingdom</option>
                <option value="Australia">🇦🇺 Australia</option>
                <option value="Canada">🇨🇦 Canada</option>
                <option value="Germany">🇩🇪 Germany</option>
                <option value="France">🇫🇷 France</option>
                <option value="Japan">🇯🇵 Japan</option>
                <option value="China">🇨🇳 China</option>
                <option value="Italy">🇮🇹 Italy</option>
                <option value="Spain">🇪🇸 Spain</option>
                <option value="South Korea">🇰🇷 South Korea</option>
                <option value="Netherlands">🇳🇱 Netherlands</option>
                <option value="Brazil">🇧🇷 Brazil</option>
                <option value="Russia">🇷🇺 Russia</option>
                <option value="Mexico">🇲🇽 Mexico</option>
                <option value="Indonesia">🇮🇩 Indonesia</option>
                <option value="Turkey">🇹🇷 Turkey</option>
                <option value="Saudi Arabia">🇸🇦 Saudi Arabia</option>
                <option value="Switzerland">🇨🇭 Switzerland</option>
                <option value="Sweden">🇸🇪 Sweden</option>
                <option value="Poland">🇵🇱 Poland</option>
                <option value="Belgium">🇧🇪 Belgium</option>
                <option value="Thailand">🇹🇭 Thailand</option>
                <option value="Iran">🇮🇷 Iran</option>
                <option value="Austria">🇦🇹 Austria</option>
                <option value="Norway">🇳🇴 Norway</option>
                <option value="UAE">🇦🇪 UAE</option>
            </select>
            <!-- <input type="text" id="country" name="country" placeholder="E.g.🇮🇳India,🇺🇸United States"><br> -->
            <button type="submit" id="new_user" value="submit">Continue</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='Add_new_user_data.js' ) }}"></script>
</body>
</html>