<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VisaPro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='landing/index.css') }}"  type="text/css">
    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "nxjg8oevgh");
    </script>
</head>

<body>
    <div class="mainscreeen" id="mainscreen">
        <div class="header" id="header">
            <div class="title" id="title">
                <h2>VisaPro</h2>
            </div>
            <div class="menu" id="menu">
                <button onclick="contactFunction()">
                    <p>Contact</p>
                </button>
                <button onclick="pricingFunction()">
                    <p>Pricing</p>
                </button>
                <button onclick="productsFunction()">
                    <p>Products</p>
                </button>
                <button onclick="founderFunction()">
                    <p>Founders</p>
                </button>
            </div>
            <div class="auth" id="auth">
                <button id="login">Login</button>
                <button id="signup">Sign Up</button>
            </div>
        </div>
        <div class="LZS-1" id="LZS-1">
            <div class="display-1" id="display-1">
                Your Ticket to smooth Visa Approval with VisaPro
            </div>
            <div class="display-2" id="display-2">
                Increase your chances of Visa Approval with VisaPro
            </div>
            <div class="display-3" id="display-3">
                <button id="getstarted">
                    Get Started
                </button>
            </div>
        </div>
        <script src="{{ url_for('static', filename='landing/index.js') }}"></script>
</body>

</html>